body.ov-a {
  background: #78AA7E;
}

.p-container {
  overflow-x: hidden;
  --hc-width: calc(100vw - 124px);
  --hc-height: 100vh;
  --num-section: 4;
  width: var(--hc-width);
  height: var(--hc-width);
  margin-left: 124px;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(calc(var(--hc-height) * -1));
  &::-webkit-scrollbar {
    display: none;
  }

  .data {
    position: absolute;
    z-index: 999999;
    top: 50%;
    left: 47.5%;
    transform-origin: top left;
    transform: rotate(90deg) translate(-50%, -50%);
    font-size: 1.8rem;
    color: #fff;
  }
  
  .project {
    display: flex;
    width: calc(var(--hc-width) * var(--num-section));
    transform-origin: top left;
    transform: rotate(90deg) translateY(calc(var(--hc-height) * -1));
    background: linear-gradient(to right, #78AA7E, #78aaa8, #89aa78);
    margin: 0;

    .project-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100vw;
      height: 100vh;
      padding: 124px 124px;
      font-size: 1.4rem;

      .card {
        position: relative;
        width: 30vw;
        height: 50vh;
        margin-right: 5%;
        background: rgb(38, 38, 38);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: -8px 8px 16px rgba(0, 0, 0, .25);

        &::before {
          content: '2023';
          position: absolute;
          z-index: 3;
          top: -12px;
          left: -28px;
          background: rgba(0, 0, 0, .8);
          color: #fff;
          padding: .25em 1em;
          border-radius: 4px;
        }

        &.center {
          align-self: center;
        }

        .card-img {
          overflow: hidden;
          flex: 2;
          border-radius: 8px 8px 0 0;

          img {
            -webkit-transition: transform .4s cubic-bezier(.4, 0, .2, 1);
            -o-transition: transform .4s cubic-bezier(.4, 0, .2, 1);
            transition: transform .4s cubic-bezier(.4, 0, .2, 1);

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .card-text {
          flex: .5;
          font-size: 2.4rem;
          color: #fff;
          font-family: 'Ydestreet-bold';
          text-align: center;

          .icon-box {
            justify-content: center;
            display: flex;
            margin: 0;
            padding: 0;

            li {
              position: relative;
              padding: 0 1em;
              
              img {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}