@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: 'Geomanist-bold';
  src: url(../fonts/Geomanist-Bold.woff2) format('woff2'), url(../fonts/Geomanist-Bold.woff) format('woff'), url(../fonts/Geomanist-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Geomanist-medium';
  src: url(../fonts/Geomanist-Medium.woff2) format('woff2'), url(../fonts/Geomanist-Medium.woff) format('woff'), url(../fonts/Geomanist-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Geomanist-light';
  src: url(../fonts/Geomanist-Light.woff2) format('woff2'), url(../fonts/Geomanist-Light.woff) format('woff'), url(../fonts/Geomanist-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Ydestreet-bold';
  font-weight: 900;
  src: url(../fonts/Ydestreet-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSerifKR-medium';
  src: url(../fonts/NotoSerifKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSerifKR-light';
  src: url(../fonts/NotoSerifKR-Light.otf) format('opentype');
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;

  font: {
    size: 62.5%;
    weight: 400;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  border: none;
}