/*반응형 화면 크기*/
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$color-white: #f2f2f2;
$color-black: #111112;
$color-gray-1: #f1f3f5;
$color-gray-2: #e9ecef;
$color-gray-3: #dee2e6;
$color-gray-4: #ced4da;
$color-gray-5: #adb5bd;
$color-gray-6: #868e96;
$color-gray-7: #495057;
$color-gray-8: #343a40;
$color-gray-9: #212529;
$color-red-50: #FFE5E5;
$color-red-100: #FFC3C4;
$color-red-200: #FFABAD;
$color-red-300: #FF7975;
$color-red-400: #FF4E4A;
$color-red-500: #EE0005;
$color-red-600: #D30005;
$color-red-700: #A70E00;
$color-red-800: #780700;
$color-red-900: #530300;
$color-orange-50: #FFE2D6;
$color-orange-100: #FFC5AD;
$color-orange-200: #FFA584;
$color-orange-300: #FF8255;
$color-orange-400: #FF5000;
$color-orange-500: #D33918;
$color-orange-600: #9F290F;
$color-orange-700: #7E200D;
$color-orange-800: #5D180C;
$color-orange-900: #3E1009;
$color-yellow-50: #FEF087;
$color-yellow-100: #FEEA55;
$color-yellow-200: #FEDF35;
$color-yellow-300: #FFD11B;
$color-yellow-400: #FDC400;
$color-yellow-500: #FCA600;
$color-yellow-600: #F08E0A;
$color-yellow-700: #E57A09;
$color-yellow-800: #CD6006;
$color-yellow-900: #99470A;
$color-green-50: #DFFFB9;
$color-green-100: #BDFB72;
$color-green-200: #83F13B;
$color-green-300: #5FE63F;
$color-green-400: #3CCD49;
$color-green-500: #1EAA52;
$color-green-600: #007D48;
$color-green-700: #00643E;
$color-green-800: #005034;
$color-green-900: #003C2A;
$color-blue-50: #D6EEFF;
$color-blue-100: #B9E2FF;
$color-blue-200: #87CEFF;
$color-blue-300: #4CABFF;
$color-blue-400: #1190FF;
$color-blue-500: #1151FF;
$color-blue-600: #0034E3;
$color-blue-700: #061DBB;
$color-blue-800: #02068E;
$color-blue-900: #020664;
$color-teal-50: #D4FFFB;
$color-teal-100: #9CFFF7;
$color-teal-200: #69EEE7;
$color-teal-300: #31CBCB;
$color-teal-400: #1CB2B6;
$color-teal-500: #008E98;
$color-teal-600: #0A7281;
$color-teal-700: #005C68;
$color-teal-800: #004856;
$color-teal-900: #043441;
$color-purple-50: #E4E1FC;
$color-purple-100: #D6D1FF;
$color-purple-200: #BEAFFD;
$color-purple-300: #A082FF;
$color-purple-400: #8755FF;
$color-purple-500: #6E0FF6;
$color-purple-600: #5400CC;
$color-purple-700: #4400A9;
$color-purple-800: #300080;
$color-purple-900: #1C0060;
$color-pink-50: #FFE1F3;
$color-pink-100: #FFCDEA;
$color-pink-200: #FFB0DD;
$color-pink-300: #FE90CC;
$color-pink-400: #FC5DBB;
$color-pink-500: #ED1AA0;
$color-pink-600: #D00B84;
$color-pink-700: #A50767;
$color-pink-800: #770349;
$color-pink-900: #4C012D;