// 767px 이하
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

// 768px 이상, 1023px 이하일때
@mixin tablet {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

// 1024px 이상일때
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin section-size {
  width: calc(100vw - 124px); // aside 크기 제외 함
  height: 100vh;
  margin-left: 124px;
}

@mixin article-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 110px); // 콘텐츠 좌우 여백
  height: 100%;
  padding-left: 55px;
}

@mixin pos($p: absolute, $top: null, $right: null, $bottom: null, $left: null) {
  position: $p;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@import 'reset', 'variables', 'header', 'cloud',
'about', 'project', 'connect';

body {
  overflow-x: hidden;
  background: #fff;
  color: #000;
  font-family: 'Pretendard', sans-serif;
  transition: all 0.5s ease;

  &::-webkit-scrollbar {
    display: none;
  }

  &.dark {
    background: #000 !important;
    color: #fff !important;
  }
}

// index.html
section.m-container {
  @include section-size;

  article.m-content {
    @include article-size;

    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-bottom: 2em;

      h1.main-title {
        @include pos($p: relative, $left: -7px);
        margin-left: 2px;
        margin-bottom: 0;
        width: 650px;
        min-width: 350px;
        font-size: 10rem;
        font-weight: 900;
        line-height: 1;
        word-spacing: 0;

        &::after {
          content: '';
          @include pos($p: absolute, $top: -2px, $left: 7px);
          width: 8px;
          height: 8px;
          background: $color-orange-400;
        }

      }

      .main-text {
        height: 58px;

        h4.main-text-animated {
          margin: {
            top: 8px;
            bottom: 0;
          }

          font: {
            size: 1.8rem;
            weight: 400;
          }

          color: $color-orange-400;
          word-spacing: 1.25px;
          white-space: nowrap;
        }
      }

      a {
        width: 128px;

        button.comet {
          cursor: pointer;
          width: 96px;
          height: 28px;
          padding: 0;

          font: {
            size: 1.25rem;
            weight: 400;
          }

          background: #efefef;
          color: $color-gray-6;
          border-radius: 2px;
          box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.1);
          animation: updown-a 1s ease infinite;
        }
      }

      ul.link-box {
        @include pos($p:absolute, $bottom: 22px);
        display: flex;
        padding: 0;

        li {

          font: {
            size: 1.2rem;
            family: 'Geomanist-light';
            weight: 600;
          }

          color: $color-gray-6;
          text-transform: uppercase;
          white-space: nowrap;

          &:not(:nth-child(3))::after {
            content: '|';
            margin: 0 1.6em;
          }

          a {
            position: relative;
            color: inherit;
            letter-spacing: .5px;

            &:hover {
              color: #666;
            }
          }
        }
      }

      #canvas-float {
        position: relative;
      }
    }
  }
}

// loading anim
.load {
  @include pos($p: absolute, $top: 0, $left: 0);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #141415;
  animation: load-1 1s ease .5s forwards;

  &.s-d {
    width: calc(100vw - 124px);
    margin-left: 124px;
  }

  img {
    width: 50px;
    height: 50px;
    opacity: 1;
    transform: scale(1);
    animation: load .5s linear forwards;
  }
}

// .load loading anim
@keyframes load {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes load-1 {
  100% {
    height: 0;
  }
}

// aside logo anim
@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-back {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

// index.html - resumeBtn anim
@keyframes updown-a {
  to {
    padding-bottom: 4px;
  }
}