/* slide-original */
@keyframes slide01 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  50.01% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* slide-clone */
@keyframes slide02 { 
  0% { transform: translateX(0); }
  100% { transform: translateX(-200%); }
}