// color
$main-color: #FF37F7;
$sub-color: #5A20FF;
$black-color: #0C021A;
$white-color: #F9F8FD;

// font
$base-font: "Suit-medium", sans-serif;
$suit-sb: "Suit-semiBold", sans-serif;
$suit-b: "Suit-bold", sans-serif;
$mt-md: "Montserrat-medium", sans-serif;
$mt-sb: "Montserrat-semiBold", sans-serif;
$mt-b: "Montserrat-bold", sans-serif;