// color
$main-color: #59362f;
$light-gray-color: #f5f5f5;
$gray-color: #bdbdbd;
$dark-gray-color: #828282;
$white-color: #ffffff;
$red-color: #C03615;
$black-color: #000000;
$kakao-color: #f2c94c;

// font
$base-font: "Archivo", sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 600,
  "bold": 700,
);
