@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
a:hover {
  text-decoration: underline;
}

img {
  display: block;
}

@font-face {
  font-family: "Suit-medium";
  src: url("../fonts/Suit/SUIT-Medium.woff2") format("woff2"), url("../fonts/Suit/SUIT-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Suit-semiBold";
  src: url("../fonts/Suit/SUIT-SemiBold.woff2") format("woff2"), url("../fonts/Suit/SUIT-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Suit-bold";
  src: url("../fonts/Suit/SUIT-Bold.woff2") format("woff2"), url("../fonts/Suit/SUIT-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-semiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
/* slide-original */
@keyframes slide01 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* slide-clone */
@keyframes slide02 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 1rem;
  font-family: "Suit-medium", sans-serif;
  line-height: 1.5;
  background: #0c0c0c;
}

@media screen and (max-width: 720px) {
  body {
    font-size: 0.75rem;
  }
}
header {
  overflow: hidden;
  width: 100%;
}
header::after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  mix-blend-mode: difference;
  width: calc(100% - 120px);
  margin: 48px 60px;
}

.logo {
  width: 168px;
  min-width: 124px;
  margin-right: auto;
}
.logo a > img {
  width: 100%;
  height: 100%;
  font-family: "Montserrat-semiBold", sans-serif;
}

.menu {
  margin-left: 28px;
}
.menu ul {
  display: flex;
}
.menu ul li {
  width: 80px;
  margin: 0 18px;
  text-align: center;
}
.menu ul li a {
  color: #fff;
}

@media screen and (max-width: 720px) {
  header {
    width: 100%;
    height: 96px;
    background: #121212;
  }
  nav {
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% - 96px);
    height: 84px;
    margin: 9px 48px;
  }
  nav .logo {
    width: 148px;
    margin: 0;
  }
  nav .logo:hover {
    filter: invert(0.25);
  }
  .menu {
    margin-left: -8px;
  }
  .menu ul > li {
    width: 48px;
    margin: 0 12px;
  }
}
.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

main.visual {
  min-width: 328px;
}

.visual-image {
  width: 100%;
  max-width: 1920px;
  height: auto;
  max-height: 100vh;
}

.slide-wrap {
  overflow: hidden;
  display: flex;
  position: relative;
  left: 0;
  bottom: 42px;
}

.slide-img {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 0;
  height: 100%;
}
.slide-img li {
  width: 100%;
}
.slide-img li img {
  height: auto;
}
.slide-img.original {
  animation: 80s slide01 linear 0s infinite normal forwards running;
}
.slide-img.clone {
  animation: 80s slide02 linear 0s infinite normal none running;
}

section {
  width: 100%;
  height: 100%;
  min-width: 316px;
  background: #0a0116;
}

section.planning {
  height: 100%;
}

.pn-title-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -42px;
  padding: 12% 0;
  background: #F9F8FD;
}
.pn-title-wrapper .pn-main-t {
  font-size: 1.75rem;
  margin-right: 5%;
  font-family: "Suit-bold", sans-serif;
}
.pn-title-wrapper .pn-main-t p,
.pn-title-wrapper .pn-main-t span {
  font-weight: 900;
}
.pn-title-wrapper .pn-sub-t {
  font-family: "Suit-bold", sans-serif;
}
.pn-title-wrapper .pn-sub-t .pn-sub-t-box {
  width: 515px;
}
.pn-title-wrapper .pn-sub-t .pn-sub-t-box b > p {
  margin-bottom: 0.5em;
}

.pn-img-wrapper ul.img-wrap {
  display: flex;
  justify-content: center;
  font-family: "Suit-bold", sans-serif;
  color: #fff;
}

li.img-item {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
li.img-item > span {
  font-size: 1.125em;
}
li.img-item .img-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  min-height: 687px;
}
li.img-item .img-item-text > h3 {
  margin-top: auto;
  font-size: 2rem;
}
li.img-item .img-item-text > p {
  margin: 1.5em 0;
}

.img-item:nth-child(1) {
  background-image: url(../img/planning01.jpg);
}

.img-item:nth-child(2) {
  background-image: url(../img/planning02.jpg);
}

.img-item:nth-child(3) {
  background-image: url(../img/planning03.jpg);
}

.planning-two-pg {
  height: 100vmin;
  max-height: 1080px;
  min-height: 316px;
  padding: 0 5%;
}

.research-container {
  position: relative;
  height: 100%;
}
.research-container::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #FF37F7;
  top: -4px;
  left: -4px;
}
.research-container::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #FF37F7;
  top: -4px;
  right: -4px;
}

.research-border-box {
  height: 100%;
  border: 1px solid #FF37F7;
}
.research-border-box::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #FF37F7;
  bottom: -4px;
  right: -4px;
}
.research-border-box::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #FF37F7;
  bottom: -4px;
  left: -4px;
}

.research-graph-box {
  height: calc(100% - 3em);
  margin: 1.5em;
  border: 1px solid #FF37F7;
  color: #fff;
}
.research-graph-box > h2 {
  padding: 0.25em;
  padding-left: 1.25em;
  font-family: "Montserrat-bold", sans-serif;
  font-size: 2.5em;
  background: #FF37F7;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.graph-wrapper-box {
  height: calc(100% - 11em);
  padding: 2em 3em;
}

.graph-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graph-wrap {
  display: flex;
  height: 50%;
  gap: 0 16px;
}

.graph-wrap-one {
  position: relative;
  width: 50%;
  height: 100%;
}

.graph-wrap-two {
  width: 50%;
  height: 100%;
}

h2.question {
  font-family: "Suit-bold", sans-serif;
  margin-bottom: 8px;
}

.graph-img {
  width: 75%;
  height: 50%;
  margin-top: 1.25em;
}

.graph-wrap-three {
  width: 100%;
  height: 50%;
  margin-top: 0.5em;
  border-top: 1px dotted rgba(255, 255, 255, 0.5);
}
.graph-wrap-three > h2 {
  margin-top: 1em;
}
.graph-wrap-three > .graph-img {
  width: 100%;
  height: 65%;
}

.pn-insight-two {
  padding: 6em 0;
  padding-bottom: 3%;
}

.pn-insight-wrapper {
  display: flex;
  flex-direction: column;
}
.pn-insight-wrapper .pn-insight-wrap {
  display: flex;
  justify-content: center;
}
.pn-insight-wrapper .pn-insight-wrap img {
  height: auto;
}

.pn-insight-wrap.pos-side {
  justify-content: flex-end;
}

.pn-insight-wrap.pos-m_side {
  justify-content: space-around;
}

.pn-insight-three {
  width: 100%;
  padding: 6em 0;
}

.circle-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6em;
}
.circle-list li {
  width: 100%;
  text-align: center;
}

.circle-title {
  font-size: 1.25rem;
  font-family: "Montserrat-medium", sans-serif;
  text-transform: uppercase;
  color: #B0B0B0;
}

.circle-box {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
  margin: 0 8em;
}
.circle-box::before {
  content: "";
  display: block;
  position: absolute;
  width: 105%;
  height: 1px;
  background: #F9F8FD;
}
.circle-box::after {
  content: "▶";
  display: block;
  position: absolute;
  top: 50%;
  right: -3.5%;
  transform: translateY(-47.5%);
  color: #F9F8FD;
}

.circle {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 50%;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #F9F8FD;
  background: #0a0116;
}
.circle::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.inside {
  display: block;
  text-transform: uppercase;
  color: #F9F8FD;
  font-size: 1rem;
}

article.pn-middle-wrap {
  padding: 10% 3% 3% 5%;
  color: #fff;
}
article.pn-middle-wrap h2.pn-middle-title {
  font-family: "Montserrat-bold", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 0 0 4px #fff;
  letter-spacing: 1px;
}
article.pn-middle-wrap p.pn-middle-subTitle {
  padding: 1em 0;
}
article.pn-middle-wrap .middle-img {
  width: 80%;
  margin: 0 auto;
  margin-top: 4em;
}

.pn-hero-pg {
  position: relative;
  padding-top: 8em;
  transition: padding-top 0.15s linear;
}

.pn-hero-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 18%;
  margin: 0 12%;
}
.pn-hero-wrapper > img {
  width: 100%;
  min-width: 218px;
  max-width: 468px;
}

.pn-hero-wrap {
  padding-left: 12%;
  color: #F9F8FD;
}
.pn-hero-wrap > h3 {
  font-size: 1.4rem;
  font-family: "Suit-bold", sans-serif;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 1210px) {
  article.pn-middle-wrap .middle-img {
    width: 100%;
    margin-top: 2em;
  }
}
@media screen and (max-width: 720px) {
  .pn-middle-wrap {
    padding: 0 5%;
  }
  .pn-middle-wrap h2.pn-middle-title {
    margin-top: 2em;
    text-shadow: 2px;
  }
  .pn-middle-wrap p.pn-middle-subTitle {
    width: 100%;
    min-width: 272px;
  }
}
@media screen and (max-width: 524px) {
  article.pn-middle-wrap .middle-img {
    margin-top: 1em;
  }
}
footer {
  width: calc(100% - 18em);
  min-width: 316px;
  height: 218px;
  padding: 3em 9em;
  background: #040010;
  border-top: 1px solid #1b192d;
}

.ft-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}
.ft-wrap .logo {
  width: 268px;
  margin-left: 14px;
}
.ft-wrap ul li {
  margin: 0 14px;
}

address {
  margin-top: auto;
  font-family: "Montserrat-medium", sans-serif;
  font-size: 0.875em;
  font-style: normal;
  color: #615F5F;
}

@media screen and (max-width: 720px) {
  footer {
    width: calc(100% - 2em);
    padding: 1em;
  }
  .ft-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .ft-wrap .logo {
    margin: 0;
  }
  address {
    text-align: center;
  }
}
@media screen and (max-width: 1210px) {
  .pn-insight-wrapper .pn-insight-wrap {
    display: flex;
    justify-content: center;
  }
  .pn-insight-wrapper .pn-insight-wrap img {
    width: 95%;
  }
  .pn-insight-three {
    padding: 2em 0;
    padding-top: 0;
  }
  .circle-list {
    margin: 0 2.5em;
  }
  .circle-title {
    font-size: 1rem;
  }
  .circle-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    margin: 0 3em;
  }
  .circle-box .circle {
    width: 50%;
  }
  .circle-box .circle .inside {
    font-size: 0.85em;
  }
  .pn-hero-wrapper {
    bottom: 12%;
    margin: 0 6%;
  }
  .pn-hero-wrap > h3 {
    font-size: 1.125rem;
  }
  .pn-hero-wrap > p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 720px) {
  .visual-image {
    max-width: 720px !important;
  }
  .slide-wrap {
    bottom: 48px;
  }
  .slide-wrap .slide-img li img {
    height: 48px;
  }
  section.planning {
    margin-top: -52px;
    padding: 8.4% 0;
  }
  .pn-title-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pn-title-wrapper .pn-main-t {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.75em;
    font-size: 1.25rem;
  }
  .pn-title-wrapper .pn-main-t p {
    margin-right: 4px;
  }
  .pn-title-wrapper .pn-sub-t {
    display: flex;
  }
  .pn-title-wrapper .pn-sub-t .pn-sub-t-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .pn-title-wrapper .pn-sub-t b > p {
    margin-bottom: 0.5em;
  }
  ul.img-wrap {
    flex-direction: column;
  }
  li.img-item {
    padding: 1.5em;
    background-position: center;
  }
  li.img-item .img-item-text {
    min-height: 168px;
  }
  li.img-item .img-item-text > p {
    margin: 0.25em 0;
  }
  .planning-two-pg {
    height: auto;
  }
  .research-border-box {
    height: auto;
  }
  .research-border-box::before {
    display: none;
  }
  .research-border-box::after {
    display: none;
  }
  .research-graph-box {
    height: auto;
    margin: 0.75em;
  }
  .research-graph-box > h2 {
    font-size: 1.75em;
  }
  .graph-wrapper-box {
    height: calc(100% - 9.5em);
    padding: 1em;
  }
  .graph-wrap {
    gap: 0;
  }
  .graph-img {
    width: 100%;
    height: 100%;
    margin-top: 1em;
  }
  .graph-wrap-one {
    padding-right: 12px;
  }
  .graph-wrap-one > p {
    min-width: 100px;
    font-size: 0.95em;
  }
  .graph-wrap-two > p {
    min-width: 100px;
    font-size: 0.975em;
  }
  h2.question {
    margin-bottom: 0;
  }
  .graph-wrap-three > h2 {
    margin-top: 0.25em;
  }
  .graph-wrap-three > p {
    font-size: 0.975em;
  }
  .pn-insight-two {
    padding: 3em 0;
    padding-bottom: 3%;
  }
  .pn-insight-wrapper .pn-insight-wrap {
    display: flex;
    justify-content: center;
  }
  .pn-insight-wrapper .pn-insight-wrap img {
    width: 100%;
    min-height: 84px;
  }
  .pn-insight-three {
    padding: 3em 0;
    padding-top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .circle-list {
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  .circle-list li {
    width: 100%;
    text-align: left;
  }
  .circle-title {
    font-size: 1.5em;
  }
  .circle-box {
    flex: 2;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0;
  }
  .circle-box::before {
    left: 50%;
    width: 1px;
    height: 105%;
  }
  .circle-box::after {
    content: "▼";
    height: 0;
    top: auto;
    right: auto;
    left: 50%;
    bottom: -1.5%;
    transform: translateX(-50%);
  }
  .circle-box .circle {
    width: 50%;
    margin: 0;
  }
  .circle-box .circle .inside {
    width: 80%;
    font-size: 1.5em;
  }
  .pn-hero-wrapper {
    align-items: flex-end;
  }
  .pn-hero-wrap {
    padding-left: 8%;
  }
}
@media screen and (max-width: 624px) {
  .circle-box .circle .inside {
    font-size: 1em;
  }
  .pn-hero-wrapper {
    bottom: 8%;
  }
  .pn-hero-wrap > h3 {
    font-size: 0.9rem;
    margin-bottom: 0.75em;
  }
  .pn-hero-wrap > p {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 524px) {
  .circle-title {
    font-size: 1.25em;
  }
  .pn-hero-pg {
    padding-top: 4em;
  }
  .pn-hero-wrapper > img {
    min-width: 128px;
  }
}
@media screen and (max-width: 412px) {
  .circle-title {
    font-size: 1em;
  }
  .circle-box .circle .inside {
    font-size: 0.8em;
  }
  .pn-hero-wrap > h3 {
    font-size: 0.6rem;
    margin-bottom: 0.5em;
  }
}
.pn-insight-one {
  overflow: hidden;
  padding: 6em 0;
}

.pn-card-box {
  display: flex;
}
.pn-card-box img {
  width: 50%;
  margin-left: 2.5em;
}

@media screen and (max-width: 1024px) {
  .pn-insight-one {
    padding: 2em 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 720px) {
  .pn-card-box {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .pn-card-box img {
    width: 80%;
    transform: translateX(-7.5%);
  }
}