@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  font-family: "Pretendard";
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
  background: #fff;
  color: #000;
  transition: all 0.25s;
}
body::-webkit-scrollbar {
  display: none;
}
body.dark {
  background: #000 !important;
  color: #fff !important;
}

aside {
  width: 180px;
  height: 100vh;
  background: #111112;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
aside nav {
  height: calc(100% - 148px);
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
aside nav .logo-box {
  width: 80px;
  height: 60px;
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotation cubic-bezier(0.77, 0.49, 0.67, -0.56) infinite 3s;
  -moz-animation: rotation linear infinite 3s;
  -webkit-animation: rotation linear infinite 3s;
}
aside nav .logo-box h2 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: -1px;
  color: #f2f2f2;
  animation: rotation-back linear infinite 3s;
}
aside nav .logo-box h2 a {
  text-decoration: none;
  color: inherit;
}
aside nav .logo-box .logo-sphere {
  background: #f2f2f2;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 0;
}
aside nav ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 6em;
}
aside nav ul li {
  margin: 3em 0;
  list-style: none;
}
aside nav ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #f2f2f2;
}
aside nav ul li a:hover {
  transition: color 0.15s;
  color: #ced4da;
}
aside .dark-mode {
  border: 3px solid #adb5bd;
  width: calc(100% - 84px);
  height: 20px;
  border-radius: 2px;
  position: relative;
}
aside .dark-mode .switch {
  width: 18px;
  height: 18px;
  background: #f1f3f5;
  border-radius: 50%;
  position: absolute;
  top: 0.8px;
  left: 4px;
  cursor: pointer;
  transition: all 0.15s;
}
aside .dark-mode .switch.active {
  left: 48px;
}
aside address {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  margin: 7em 0;
  position: relative;
}
aside address span {
  position: absolute;
  bottom: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 10px;
  color: #000;
  background: #ddd;
  border-radius: 5px;
  transition-duration: 0.5s;
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
}
aside address span:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  width: 10px;
  height: 10px;
  background: #ddd;
}
aside address:hover span {
  opacity: 1;
  visibility: visible;
}

section {
  width: calc(100vw - 180px);
  height: 100vh;
  margin-left: 180px;
}
section article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-left: 5%;
}
section article .main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 2em;
}
section article .main-title h1 {
  position: relative;
  margin-bottom: 0.4em;
  font-size: 9.2rem;
  font-weight: 400;
  left: -7px;
  line-height: 1;
  word-spacing: 0;
}
section article .main-title h1::after {
  position: absolute;
  top: -2px;
  left: 7px;
  content: "";
  width: 18px;
  height: 6px;
  background: #ccc;
}
section article .main-title h1 span {
  font-size: 10rem;
  font-weight: 900;
  margin-left: 2px;
}
section article .main-title .text-container {
  height: 58px;
}
section article .main-title .text-container h4.text-animated {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 400;
  color: #d76100;
  word-spacing: 1.25px;
  white-space: nowrap;
}
section article .main-title a {
  width: 128px;
}
section article .main-title a button.comet {
  cursor: pointer;
  width: 128px;
  height: 28px;
  font-size: 1.25rem;
  font-weight: 400;
  background: #efefef;
  color: #888;
  border: none;
  border-radius: 2px;
  outline: none;
  transition: all 0.25s ease;
}
section article .main-title a button.comet:hover {
  color: #000;
  box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.1);
}
section article .main-title ul.link-box {
  position: absolute;
  bottom: 22px;
  display: flex;
  padding: 0;
}
section article .main-title ul.link-box li {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 400;
  color: #ccc;
  text-transform: uppercase;
  white-space: nowrap;
}
section article .main-title ul.link-box li:not(:nth-child(3))::after {
  content: "|";
  margin: 0 1.6em;
}
section article .main-title ul.link-box li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.5px;
}
section article .main-title ul.link-box li a:hover {
  color: #666;
}
section article .main-title #canvas-float {
  position: relative;
}
section article.about.text {
  align-items: flex-start;
  padding-top: 10em;
  height: calc(100% - 20em);
}
section article.about .about-title-left {
  position: relative;
}
section article.about .about-title-left::after {
  content: "";
  position: absolute;
  bottom: 27.5%;
  left: 5px;
  transform: translateY(-50%);
  background: #444;
  width: 60vw;
  height: 1px;
}
section article.about .about-title-right {
  text-align: right;
}
section article.about .about-text {
  width: 100%;
  background: #eee;
  margin: 2em;
  padding: 2em 8em;
  color: #000;
}
section article.about .about-text.black {
  background: #444;
  color: #fff;
}
section article.about .about-text.left {
  height: 50%;
}
section article.about .about-text.center {
  height: 70%;
}
section article.about .about-text.right {
  height: 90%;
}
section article.about .about-text ul {
  padding: 0;
}
section article.about .about-text ul li {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: inherit;
  transition: all 0.35s;
  cursor: pointer;
}
section article.about .about-text ul li.actives {
  font-size: 3.6rem;
  font-weight: 900;
}
section article.about h2 {
  font-size: 12rem;
}
section article.about h3 {
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  color: inherit;
}
section article.about h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
section article.about h3::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: -1px;
  width: 12px;
  height: 1px;
  transform: rotate(45deg);
  background: #000;
}
section article.about p {
  font-size: 1.6rem;
  font-weight: 100;
  color: inherit;
}
section article.connect-box .connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section article.connect-box .connect h2 {
  font-size: 5.6rem;
  margin: 0;
}
section article.connect-box .connect p {
  margin: 0;
  font-size: 2.2rem;
  word-spacing: 1px;
  word-break: break-all;
  white-space: nowrap;
  text-align: center;
}
section article.connect-box .connect .sns-icon-box {
  margin-top: 10em;
}
section article.connect-box .connect .sns-icon-box a {
  font-size: 3.2rem;
  padding: 0.5em;
  color: #444;
  transition: color 0.25s;
}
section article.connect-box .connect .sns-icon-box a:hover {
  color: #aaa;
}
section article.connect-box .visual {
  width: 100%;
  height: calc(100vh - 4em);
  padding: 0 4em;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #444;
  text-align: center;
}

section.about-content {
  background: #fff;
}
section.about-content.white {
  background: #000;
}

article.project .content-img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article.project .content-img .item {
  background: #aaa;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin: 1.25em;
}
article.project .content-img .itema {
  background: #aaa;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin: 1.5em;
}
article.project .content-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
}
article.project .content-text h2 {
  position: relative;
  width: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 0.25em;
}
article.project .content-text h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
article.project .content-text span {
  font-size: 1.6rem;
}
article.project .content-text span a {
  text-decoration: none;
}
article.project .content-text .items {
  width: 100%;
  height: 100%;
  background: #aaa;
  margin: 1.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation-back {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@media all and (max-width: 1024px) {
  #canvas-float {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */