@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: 'Pretendard';
}

$color-white: #f2f2f2;
$color-gray-1: #f1f3f5;
$color-gray-2: #e9ecef;
$color-gray-3: #dee2e6;
$color-gray-4: #ced4da;
$color-gray-5: #adb5bd;
$color-gray-6: #868e96;
$color-gray-7: #495057;
$color-gray-8: #343a40;
$color-gray-9: #212529;
$color-black: #111112;
$color-orange: #d76100;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: {
    size: 62.5%;
    weight: 400;
  }
  line-height: 1.5;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
  background: #fff;
  color: #000;
  transition: all .25s;

  &::-webkit-scrollbar {
    display: none;
  }

  &.dark {
    background: #000 !important;
    color: #fff !important;
  }
}


aside {
  width: 180px;
  height: 100vh;
  background: $color-black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  nav {
    height: calc(100% - 148px);
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo-box {
      width: 80px;
      height: 60px;
      margin-top: 6em;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: rotation cubic-bezier(.77, .49, .67, -0.56) infinite 3s;
      -moz-animation: rotation linear infinite 3s;
      -webkit-animation: rotation linear infinite 3s;

      h2 {
        margin: 0;
        font-size: 2.4rem;
        font-weight: 900;
        letter-spacing: -1px;
        color: $color-white;
        animation: rotation-back linear infinite 3s;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .logo-sphere {
        background: $color-white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        left: 0;
      }
    }

    ul {
      padding: 0;
      margin-top: 0;
      margin-bottom: 6em;

      li {
        margin: 3em 0;
        list-style: none;

        a {
          text-decoration: none;
          font-size: 1.6rem;
          color: $color-white;

          &:hover {
            transition: color .15s;
            color: $color-gray-4;
          }
        }
      }
    }
  }

  .dark-mode {
    border: 3px solid $color-gray-5;
    width: calc(100% - 84px);
    height: 20px;
    border-radius: 2px;
    position: relative;

    .switch {
      width: 18px;
      height: 18px;
      background: $color-gray-1;
      border-radius: 50%;
      position: absolute;
      top: 0.8px;
      left: 4px;
      cursor: pointer;
      transition: all .15s;

      &.active {
        left: 48px;
      }
    }
  }

  address {
    font-size: .8rem;
    color: #fff;
    text-align: center;
    margin: 7em 0;
    position: relative;

    span {
      position: absolute;
      bottom: 50%;
      left: 90%;
      transform: translate(-50%, -50%);
      width: 300px;
      padding: 10px;
      color: #000;
      background: #ddd;
      border-radius: 5px;
      transition-duration: .5s;
      font-size: 1.4rem;
      font-weight: 400;
      opacity: 0;
      visibility: hidden;

      &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
        width: 10px;
        height: 10px;
        background: #ddd;
      }
    }

    &:hover span {
      opacity: 1;
      visibility: visible;
    }
  }
}

section {
  width: calc(100vw - 180px);
  height: 100vh;
  margin-left: 180px;

  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: 5%;

    .main-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin-bottom: 2em;

      h1 {
        position: relative;
        margin-bottom: 0.4em;
        font-size: 9.2rem;
        font-weight: 400;
        left: -7px;
        line-height: 1;
        word-spacing: 0;

        &::after {
          position: absolute;
          top: -2px;
          left: 7px;
          content: '';
          width: 18px;
          height: 6px;
          background: #ccc;
        }

        span {
          font-size: 10rem;
          font-weight: 900;
          margin-left: 2px;
        }
      }
      .text-container {
        height: 58px;
        h4.text-animated {
          margin: {
            top: 24px;
            bottom: 0;
          };
          font: {
            size: 1.8rem;
            weight: 400;
          }
          color: $color-orange;
          word-spacing: 1.25px;
          white-space: nowrap;
        }
      }
      a {
        width: 128px;
        button.comet {
          cursor: pointer;
          width: 128px;
          height: 28px;
          font: {
            size: 1.25rem;
            weight: 400;
          }
          background: #efefef;
          color: #888;
          border: none;
          border-radius: 2px;
          outline: none;
          transition: all .25s ease;
          
          &:hover {
            color: #000;
            box-shadow: inset -2px 2px 4px rgba(0, 0, 0, 0.1);
          }
        }
      }

      ul.link-box {
        position: absolute;
        bottom: 22px;
        display: flex;
        padding: 0;

        li {
          list-style: none;
          font: {
            size: 1.25rem;
            weight: 400;
          }
          color: #ccc;
          text-transform: uppercase;
          white-space: nowrap;
          &:not(:nth-child(3))::after {
            content: '|';
            margin: 0 1.6em;
          }

          a {
            position: relative;
            text-decoration: none;
            color: inherit;
            letter-spacing: .5px;

            &:hover {
              color: #666;

            }
          }
        }
      }

      #canvas-float {
        position: relative;
      }
    }

    // article
  }

  article.about {
    &.text {
      align-items: flex-start;
      padding-top: 10em;
      height: calc(100% - 20em);
    }

    .about-title-left {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 27.5%;
        left: 5px;
        transform: translateY(-50%);
        background: #444;
        width: 60vw;
        height: 1px;
      }
    }

    .about-title-right {
      text-align: right;
    }

    .about-text {
      width: 100%;
      background: #eee;
      margin: 2em;
      padding: 2em 8em;
      color: #000;

      &.black {
        background: #444;
        color: #fff;
      }

      &.left {
        height: 50%;
      }

      &.center {
        height: 70%;
      }

      &.right {
        height: 90%;
      }

      ul {
        padding: 0;

        li {
          list-style: none;
          font-size: 1.8rem;
          font-weight: 400;
          color: inherit;
          transition: all .35s;
          cursor: pointer;

          &.actives {
            font-size: 3.6rem;
            font-weight: 900;
          }
        }
      }
    }

    h2 {
      font-size: 12rem;
    }

    h3 {
      position: relative;
      font-size: 2.4rem;
      font-weight: 400;
      color: inherit;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #000;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 4px;
        right: -1px;
        width: 12px;
        height: 1px;
        transform: rotate(45deg);
        background: #000;
      }
    }

    p {
      font-size: 1.6rem;
      font-weight: 100;
      color: inherit;
    }
  }

  // article.about
  article.connect-box {
    .connect {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      h2 {
        font-size: 5.6rem;
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 2.2rem;
        word-spacing: 1px;
        word-break: break-all;
        white-space: nowrap;
        text-align: center;
      }

      .sns-icon-box {
        margin-top: 10em;

        a {
          font-size: 3.2rem;
          padding: 0.5em;
          color: #444;
          transition: color .25s;

          &:hover {
            color: #aaa;
          }
        }
      }
    }

    .visual {
      width: 100%;
      height: calc(100vh - 4em);
      padding: 0 4em;
      background: #111;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      letter-spacing: 1px;
      color: #444;
      text-align: center;
    }
  }
}

// section

section.about-content {
  background: #fff;

  &.white {
    background: #000;
  }
}

article.project {
  .content-img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item {
      background: #aaa;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      margin: 1.25em;
    }

    .itema {
      background: #aaa;
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      margin: 1.5em;
    }
  }

  .content-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: right;

    h2 {
      position: relative;
      width: 100%;
      font-size: 3.6rem;
      font-weight: 400;
      margin-top: 4px;
      margin-bottom: 0.25em;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: #000;
      }
    }

    span {
      font-size: 1.6rem;

      a {
        text-decoration: none;
      }
    }

    .items {
      width: 100%;
      height: 100%;
      background: #aaa;
      margin: 1.25rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}


// ANIMATION
@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation-back {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

// MEDIA QUERY
@media all and (max-width: 1024px) {
  #canvas-float {
    display: none;
  }
}