/*====================================
너비가 720px 이하일 때
======================================*/
@media screen and (max-width: 720px) {
  body {
    /* 12px */
    font-size: 0.75rem;
  }

  // header
  // -----------------------------------
  header {
    width: 100%;
    height: 96px;
    background: #121212;
  }

  nav {
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% - 96px);
    height: 84px;
    margin: 9px 48px;

    .logo {
      width: 148px;
      margin: 0;

      &:hover {
        filter: invert(.25);
      }

    }
  }

  // main, visual, slide
  // -----------------------------------
  .menu {
    margin-left: -8px;

    ul>li {
      width: 48px;
      margin: 0 12px;
    }
  }

  .visual-image {
    max-width: 720px !important;
  }

  .slide-wrap {
    bottom: 48px;

    .slide-img {
      li img {
        height: 48px;
      }
    }
  }

  // section-planning
  // -----------------------------------
  section.planning {
    margin-top: -52px;
    padding: 8.4% 0;
  }

  .pn-title-wraper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .pn-main-t {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-right: 0;
      margin-bottom: .75em;
      font-size: 1.25rem;

      p {
        margin-right: 4px;
      }
    }

    .pn-sub-t {
      display: flex;

      .pn-sub-t-box {
        width: 90%;
        margin: 0 auto;
        text-align: center;
      }

      b>p {
        margin-bottom: 0.5em;
      }
    }
  }

  ul.img-wrap {
    flex-direction: column;
  }

  li.img-item {
    padding: 1.5em;
    background-position: center;

    .img-item-text {
      min-height: 168px;

      >p {
        margin: .25em 0;
        font-family: 'Suit-medium', sans-serif;
      }
    }
  }

  .pn-middle-wrap {
    padding: 0 5%;

    h2.pn-middle-title {
      margin-top: 2em;
    }

    p.pn-middle-subTitle {
      width: 100%;
      min-width: 272px;
    }
  }

  .planning-two-pg {
    height: auto;
  }

  .research-border-box {
    height: auto;
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }

  .research-graph-box {
    height: auto;
    >h2 {
      font-size: 1.75em;
    }
  }

  .graph-wrapper-box {
    height: calc(100% - 9.5em);
    padding: 2em 1em;
  }

  .graph-wrap {
    gap: 0;
  }

  .graph-img {
    width: 100%;
    height: 100%;
    margin-top: 1em;
  }

  .graph-wrap-one {
    padding-right: 12px;
    > p {
      min-width: 100px;
    }
  }
  
  .graph-wrap-two {
    > p {
      min-width: 100px;
    }
  }

  .graph-wrap-three {
    display: none;
  }
} // 너비가 720px이하일 때