section {
  @include min-size(328px);
  background: #000;
  height: 100vh;
}

.planning {
  height: 100%;
  margin-top: -42px;
  padding: 12% 0;
  background: #fefefe;
}
.pn-title-wraper {
  display: flex;
  justify-content: center;
  width: 100%;

  .pn-main-t {
    font-size: 1.75rem;
    margin-right: 5%;
    font-family: 'Suit-bold', sans-serif;
    
    p, span {
      font-weight: 900;
    }
  }

  .pn-sub-t {
    font-family: 'Suit-bold', sans-serif;
    .pn-sub-t-box {
      width: 500px;
      b > p {
        margin-bottom: 0.5em;
      }
    }
  }
}